* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #3C3A39;
  color: #fff5e1;
  text-decoration: none;
}

/* Styling the menu button */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

/* Styling the hamburger lines */
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: white;
  transition: all 0.5s ease-out;
}

/* Adding transform to the X */
.menu-btn.close {
  transform: rotate(180deg);
}

/* Styling the three lines 
  to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/* Styling the position of the menu icon */
.menu {
  position: fixed;
  margin: 10% 0 0 10%;
  width: 100%;
  opacity: 0.9;
  visibility: visible;
}

.menu.show {
  visibility: visible;
}

.menu-item {
  padding: 5px;
  font-size: xx-large;
  font-family: system-ui;
  font-weight: 500;
}

/* Adding a transition delay to the
 3 items in the navigation menu */
.menu-item:nth-child(1) {
  transition-delay: 0.1s;
}

.menu-item:nth-child(2) {
  transition-delay: 0.2s;
}

.menu-item:nth-child(3) {
  transition-delay: 0.3s;
}